
@{
    ViewBag.Title = "Tutorial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tutorial">
    <div class="tab-tutorials">
        <div class="nofade" style="text-decoration: none;"><a href="HuongDan.html"><img src="img/vidientu.png" alt="">Ví điện tử VTC pay </a></div>
        <div class="nofade"><a href="CongthanhtoanVTC.html"><img src="img/congthanhtoan.png" alt="">Cổng thanh toán điện tử VTC Pay</a></div>
        <div class="nofade"><a href="TienIch.html"><img src="img/tienich.png" alt="">Tiện ích</a></div>
        <div class="nofade"><a href="CauHoi.html"><img src="img/cauhoi.png" alt="">Câu hỏi thường gặp</a></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div id='cssmenu-doc'>
            <ul>
                <li><a href='MuaVeMayBay.html'>MUA VÉ MÁY BAY</a></li>
                <li><a href='#'>LIÊN KẾT NGÂN HÀNG</a></li>
                <li class='active has-sub'>
                    <a href='#'>BẢO MẬT - ĐỊNH DẠNG</a>
                    <ul>
                        <li><a href='#'>Hướng dẫn xác thực tài khoản Ví điện tử VTC Pay trong 3 bước</a></li>
                        <li class='last'><a href='#'>Hướng dẫn sử dụng hình thức bảo mật mới: Voice OTP</a></li>
                        <li><a href='#'>[Mới] Phương thức xác thực giao dịch Smart OTP trên App VTC Pay</a></li>
                        <li class='last'>
                            <a href='#'>HD định danh Ví Doanh nghiệp bằng tài khoản ngân hàng</a>
                        </li>
                    </ul>
                </li>
                <li class='active has-sub'>
                    <a href='#'>ĐIỀU KHOẢN SỬ DỤNG</a>
                    <ul>
                        <li><a href='#'>Quy định về dịch vụ</a></li>
                        <li class='last'><a href='#'>Quy định đối với khách hàng</a></li>
                        <li><a href='#'>Quy trình sử dụng dịch vụ</a></li>
                        <li class='last'><a href='#'>Tổng quan về VTC Pay</a></li>
                    </ul>
                </li>
                <li><a href='#'>DỊCH VỤ KHÁC</a></li>

                <li class='active has-sub'>
                    <a href='#'>DỊCH VỤ THANH TOÁN HÓA ĐƠN</a>
                    <ul>
                        <li><a href='#'>Hướng dẫn đăng ký/ Hủy tính năng tự động nhăc nợ hóa đơn</a></li>
                        <li class='last'><a href='#'>Hướng dẫn thanh toán hóa đơn tại VTC Pay</a></li>
                    </ul>
                </li>
                <li class='active has-sub'>
                    <a href='#'>MUA THẺ GAME ONLINE</a>
                    <ul>
                        <li><a href='#'>Hướng dẫn mua thẻ game online</a></li>
                        <li class='last'><a href='#'>Hướng dẫn nạp tiền vào tài khoản game</a></li>
                    </ul>
                </li>
                <li class='active has-sub'>
                    <a href='#'>DỊCH VỤ ĐIỆN THOẠI DI ĐỘNG</a>
                    <ul>
                        <li><a href='#'>Hướng dẫn đặt lịch nạp tự động khi khuyến mại</a></li>
                        <li class='last'>
                            <a href='#'>
                                Cách mua thẻ điện thoại online - Nạp tiền điện thoại trả
                                trước/trả sau
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='last'><a href='#'>THANH TOÁN GOOGLE PLAY</a></li>
                <li class='active has-sub'>
                    <a href='#'>CHÍNH SÁCH SỬ DỤNG</a>
                    <ul>
                        <li>
                            <a href='#'>
                                Quy định về việc xác thực tài khoản Ví điện tử VTC Pay bằng CMND/CCCD
                                theo
                                Thông tư 23/2019/TT-NHNN
                            </a>
                        </li>
                        <li class='last'><a href='#'>Quy định về việc xuất hóa đơn điện tử tại VTC Pay</a></li>
                        <li class='last'><a href='#'>Chính sách bảo mật thông tin cá nhân</a></li>
                        <li class='last'><a href='#'>Chính sách sử dụng</a></li>
                    </ul>
                </li>
                <li class='active has-sub'>
                    <a href='#'>QUẢN LÝ THÔNG TIN TÀI KHOẢN</a>
                    <ul>
                        <li class='last'><a href='#'>Quản lí thông tin cá nhân</a></li>
                        <li class='last'><a href='#'>Chuyển đổi loại tài khoản cá nhân - doanh nghiệp</a></li>
                    </ul>
                </li>
                <li class='active has-sub'>
                    <a href='#'>HƯỚNG DẪN SỬ DỤNG</a>
                    <ul>
                        <li class='last'>
                            <a href='#'>
                                Quy định về việc xác thực tài khoản Ví điện tử VTC Pay bằng
                                CMND/CCCD theo Thông tư
                            </a>
                        </li>
                        <li class='last'><a href='#'>Chuyển đổi loại tài khoản cá nhân - doanh nghiệp</a></li>
                    </ul>
                </li>
                <li class='active has-sub'>
                    <a href='#'>CHUYỂN TIỀN</a>
                    <ul>
                        <li class='last'><a href='#'>Mã/Tên ngân hàng và tài khoản ngân hàng VTC Pay</a></li>
                        <li class='last'><a href='#'>Hướng dẫn chuyển tiền trên website</a></li>
                        <li class='last'><a href='#'>Hướng dẫn chuyển tiền trên App VTC Pay</a></li>
                    </ul>
                </li>
                <li class='active has-sub'>
                    <a href='#'>RÚT TIỀN</a>
                    <ul>
                        <li class='last'><a href='#'>Mã/Tên ngân hàng và tài khoản ngân hàng VTC Pay</a></li>
                        <li class='last'>
                            <a href='#'>Danh sách ngân hàng hỗ trợ rút tiền nhanh về thẻ ATM</a>
                        </li>
                        <li class='last'>
                            <a href='#'>
                                HD rút tiền từ Ví điện tử VTC Pay tại ATM Ngân hàng
                                Sacomback
                            </a>
                        </li>
                        <li class='last'><a href='#'>Quy định chung về Rút tiền </a></li>
                        <li class='last'>
                            <a href='#'>
                                Rút tiền từ Ví VTC Pay về Tài khoản ngân hàng trên website
                                VTC
                                Pay
                            </a>
                        </li>
                        <li class='last'>
                            <a href='#'>
                                Rút tiền từ Ví VTC Pay về Tài khoản ngân hàng trên qua VTC
                                Pay
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='active has-sub'>
                    <a href='#'>HƯỚNG DẪN ĐĂNG KÝ</a>
                    <ul>
                        <li class='last'><a href='#'>HD định danh Ví VTC Pay qua web vtcpay.vn</a></li>
                        <li class='last'><a href='#'>Hướng dẫn mở tài khoản cá nhân</a></li>
                        <li class='last'><a href='#'>Hướng dẫn mở tài khoản doanh nghiệp</a></li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>

</div>

